@import url('https://fonts.googleapis.com/css?family=Play');

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#BB8 {
    margin: 30px auto;
display: block;
}
#Body{
      -webkit-animation-name: spin;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
    transform-origin: center center;
}

html {
  font-size: 10px;
    background-color: #FFA33F;
/*
  background-image: url(http://i.imgur.com/l5hja6x.jpg);
  background-size: cover;
*/

}
body,html {
  margin: 0;
  padding: 0;
font-family: 'Play', sans-serif;
	
}
img {
    display: block;
    margin: 0 auto;
}
h1 {
    color: #505163;
    font-size: 5rem;
    text-align: center;
}
.row {
  display: flex;
  flex: 1;
/*  height: 30vh;*/
  align-items: center;
  justify-content: center;
	flex-wrap: wrap;
	width: 50vw;
	margin: 0 auto 0;
}

.key {
  border: 1px solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 3rem;
  text-align: center;
  color: white;
  background: rgba(255,255,255,0.2);
}
.key[data-key="32"]{
    flex-grow: 1;
}

.playing {
  transform: scale(1.1);
		  border-color: #FFA33F;
  box-shadow: 0 0 1rem #FFA33F;
}

kbd {
  display: block;
  font-size: 2rem;
    font-weight: 400;
}
